/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-color: #f6f6f6;
    --section-padding: 50px;
    --line-height: 1.8;
}

/* end Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.special-heading {
    text-align: center;
    color: #ebeced;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -3px;
    margin-bottom: 0;
}

.special-heading+p {
    text-align: center;
    margin-top: -30px;
    color: #797979;
    font-size: 20px;

}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* Start Global Rules */
/* start Header */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}



.header .links .icons {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.icons span {
    width: 100%;
    background-color: #333;
    margin-bottom: 3px;
    height: 2px;
}

.icons span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .container .links:hover .icons span:nth-child(2) {
    width: 100%;
}
.header .links:hover ul {
    display: block;
}
.container .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    display: none;
    z-index: 1;
}

.container .links ul::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 5px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    border-width: 10px;
}

.container .links ul li a {
    padding: 15px;
    text-decoration: none;
    color: #333;
    width: 150px;
    display: block;
    transition: 0.6s;
}

.container .links ul li a:hover {
    padding-left: 25px;
}

.container .links ul li:not(a:last-child) {
    border-bottom: #ddd solid 2px;
}

/* End Header */
/* start landing */
.landing {
    background-image: url("../image/landing.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    width: 320px;
    max-width: 100%;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 50px;
}

.intro-text p {
    line-height: var(--line-height, 1.8);
    font-size: 19px;
}

/* end landing */
/* start fearures */
.features {
    padding: var(--section-padding);
    background-color: var(--section-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.features .container .feat {
    text-align: center;
    padding: 20px;
}

.features .container i {
    color: var(--main-color);
}

.features .container h3 {
    font-weight: 800px;
    margin: 30px 0;
}

.features .container p {
    line-height: var(--line-height, 1.8);
    font-size: 17px;
    color: #777;
}

/* end features */
/* start-services */

.services .container .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 90px;
}

.service-content .ser {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:676px) {
    .service-content .ser {
        flex-direction: column;
        text-align: center;
    }

}

.service-content .ser i {
    color: var(--main-color);
    flex-basis: 60px;
}

.service-content .ser .text {
    flex: 1;
}


.service-content .ser .text h3 {
    margin: 0 0 20px;
}

.service-content .ser .text p {
    font-weight: 300;
    line-height: 1.6;
    color: #777;
}

.service-content .image {
    position: relative;
    text-align: center;
}

.service-content .image::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    z-index: -1;

}

.service-content .image img {
    width: 250px;
}

@media (max-width: 1199px) {
    .service-content .image {
        display: none;
    }
}

/* end-services */
/*start Portfolio */

.Portfolio {
    background-color: var(--section-color);
    padding-top: 30px;
    padding-bottom: var(--section-padding);
    margin-top: 40px;
}

.Portfolio .content-portfolio {
    display: grid;
    gap: 30px;
    margin-top: 70px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Portfolio .content-portfolio .col img {
    max-width: 100%;
}

.Portfolio .content-portfolio .col .text {
    padding: 15px;
    background-color: white;
}

.Portfolio .content-portfolio .text h3 {
    margin: 0;
}


.Portfolio .content-portfolio .text p {
    font-weight: 300;
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;

}

/*end Portfolio */
/* start about  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* end about  */
/* start contact  */
.contact {
    background-color: var(--section-color);
    padding-top: 10px;
    padding-bottom: calc(var(--section-padding) + 80px);
}

.con {
    position: relative;
    margin-top: 140px;
}

.contact .contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
}

.contact .contact-content h3 {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 0;
}


.contact .contact-content a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    display: block;
}

@media (max-width:1199px) {

    .contact .contact-content h3 {
        font-size: 20px;
    }

    .contact .contact-content a {
        font-size: 20px;
    }
}

@media (max-width:596px) {
    .contact .contact-content h3 {
        font-size: 15px;
    }

    .contact .contact-content a {
        font-size: 15px;
    }

    .contact .contact-content .icons p {
        font-size: 10px;
    }
}

.contact .contact-content .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-content .icons i {
    margin-left: 5px;
    color: var(--secondary-color);
}

/* end contact  */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End Footer */